<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <!--Following page - Search users, follow button, need other page to see other people-->
  <body>
    {% include 'mentalcheck/header.html' %}
    <script>
    /*searches through all of the users which is passed as a JSON object*/
      function getInputValue()
      {
        var inputVal = document.getElementById("myInput").value;
        var allUsers = {{allUsers|safe}};
        console.log(allUsers);
        found = false
        for (user in allUsers)
        {
          userObj = allUsers[user];
          console.log(userObj)
          if (userObj["fields"]["username"] == inputVal)
          {
            found = true
            document.getElementById("search").innerHTML += inputVal
          }
        }
        if (found == false)
        {
          document.getElementById("search").innerHTML = "User not found. Please try again :)"
        }
      }
    </script>

    <h1>Your Friends</h1>
    <div class = "container">
      <h3>Search For a User: </h3>
      <form style="padding-bottom:1em;" method="POST">
        {% csrf_token %}
        <div class="form-group">
          <input type="text" placeholder="Search..." id = "myInput" name = "userInput"/>
        </div>
        <button type="button" onclick = "getInputValue();" class="btn btn-info">Search</button>
        <br />
        <p>Search Results: </p>
        <div id = "search">
          <button type = "submit" name = "followUser"> Follow </button>
        </div>
      </form>
    </div>
    <!-- Shows the statuses of all of the users they follow back -->
    <div class = "container">
      <h1> Friends: </h1>
      {% for key, value in allFollowAns.items %}
          <h5>{{key}}</h5>
          <p>on a scale of 1-10, they are feeling: {{value}}</p>
          <br />
      {% endfor %}
    </div>
  </body>
</html>
