<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <!-- Profile page - user can edit and look at their profile info -->
  <body>
    {% include 'mentalcheck/header.html' %}
    <div class = "container">
      <h3>Edit Profile Here (Remember to click Save): </h3>
      <form style="padding-bottom:1em;" method="POST">
        {% csrf_token %}
        <div class="form-group">
          <label for="inputUsername">Username</label>
          <input type="text" class="form-control" name="inputUsername" id="inputUsername" placeholder = "{{currUser.username}}" value = "{{currUser.username}}"/>
        </div>
        <div class="form-group">
          <label for="inputFirstName">First Name</label>
          <input type="text" class="form-control" name="inputFirstName" id="inputFirstName" placeholder = "{{currUser.first_name}}" value = "{{currUser.first_name}}"/>
        </div>
        <div class="form-group">
          <label for="inputLastName">Last Name</label>
          <input type="text" class="form-control" name="inputLastName" id="inputLastName" placeholder = "{{currUser.last_name}}" value = "{{currUser.last_name}}"/>
        </div>
        <div class="form-group">
          <label for="inputAge">Age</label>
          <input type="text" class="form-control" name="inputAge" id="inputAge" placeholder = "{{currProfile.age}}" value = "{{currProfile.age}}"/>
        </div>
        <div class="form-group">
          <label for="inputMed">Medical Record</label>
          <input type="text" class="form-control" name="inputMed" id="inputMed" placeholder = "{{currProfile.medicalHistory}}" value = "{{currProfile.medicalHistory}}"/>
        </div>
        <div class="form-group">
          <label for="inputSelfEmail">Your Own Email</label>
          <input type="text" class="form-control" name="inputSelfEmail" id="inputSelfEmail" placeholder = "{{currProfile.email}}" value = "{{currProfile.email}}"/>
        </div>
        <button type="submit" class="btn btn-danger">Save</button>
      </form>
    </div>
  </body>
</html>
