<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <body>
    <h3>Hello :)</h3>
    <form style="padding-bottom:1em;" method="POST">
      {% csrf_token %}
      <div class = "form-group">
        <label for="questionans">{{currQ.idNum}}. {{currQ.questionText}}</label>
        <input type="text" class="form-control" id="questionans" name = "{{ currQ.idNum }}" aria-describedby="qAns" placeholder="Enter your answer here">
        {% if currQ.idNum == maxId %}
          <small id="qAns" class="form-text text-muted">This answer will be shared with your friends.</small>
        {% else %}
          <small id="qAns" class="form-text text-muted">We'll never share this answer with anyone else.</small>
        {% endif %}
      </div>
      <br />
      {% if maxId == currQ.idNum %}
        <input type = "hidden" name = "qFinish" value = "" />
      {% endif %}
      <input type = "hidden" name = "prevId" value = "{{ currQ.idNum }}" />
      <input type="submit" value="Next > "/>
    </form>

  </body>
</html>
